platform/n8n-workflows/daily-financial-sync.json
{
  "name": "Daily Financial Sync",
  "nodes": [
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "cronExpression",
              "expression": "0 2 * * *"
            }
          ]
        }
      },
      "id": "c3d4e5f6-3333-4000-c000-000000000001",
      "name": "Daily 2 AM Trigger",
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.1,
      "position": [240, 300]
    },
    {
      "parameters": {
        "method": "GET",
        "url": "http://maxed-api:4102/api/firms/all/clients?hasBigcapitalId=true",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "Bearer {{ $env.MAXED_API_TOKEN }}"
            }
          ]
        },
        "options": {}
      },
      "id": "c3d4e5f6-3333-4000-c000-000000000002",
      "name": "Get All Clients from Maxed API",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [500, 300]
    },
    {
      "parameters": {
        "batchSize": 1,
        "options": {}
      },
      "id": "c3d4e5f6-3333-4000-c000-000000000003",
      "name": "Loop Over Clients",
      "type": "n8n-nodes-base.splitInBatches",
      "typeVersion": 3,
      "position": [760, 300]
    },
    {
      "parameters": {
        "method": "GET",
        "url": "=http://bigcapital:8000/api/v1/financial-statements/balance-sheet?customer_id={{ $json.bigcapitalId }}",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "Bearer {{ $env.BIGCAPITAL_API_TOKEN }}"
            },
            {
              "name": "X-Tenant-Id",
              "value": "={{ $json.firmTenantId }}"
            }
          ]
        },
        "options": {
          "timeout": 30000
        }
      },
      "id": "c3d4e5f6-3333-4000-c000-000000000004",
      "name": "Get Financial Summary from Bigcapital",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [1020, 300]
    },
    {
      "parameters": {
        "method": "PATCH",
        "url": "=http://maxed-api:4102/api/firms/{{ $('Loop Over Clients').item.json.firmId }}/clients/{{ $('Loop Over Clients').item.json.id }}",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "Bearer {{ $env.MAXED_API_TOKEN }}"
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "financialSummary",
              "value": "={{ JSON.stringify($json) }}"
            },
            {
              "name": "lastSyncedAt",
              "value": "={{ new Date().toISOString() }}"
            }
          ]
        },
        "options": {}
      },
      "id": "c3d4e5f6-3333-4000-c000-000000000005",
      "name": "Update Client in Maxed API",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [1280, 300]
    }
  ],
  "connections": {
    "Daily 2 AM Trigger": {
      "main": [
        [
          {
            "node": "Get All Clients from Maxed API",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get All Clients from Maxed API": {
      "main": [
        [
          {
            "node": "Loop Over Clients",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Loop Over Clients": {
      "main": [
        [
          {
            "node": "Get Financial Summary from Bigcapital",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get Financial Summary from Bigcapital": {
      "main": [
        [
          {
            "node": "Update Client in Maxed API",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Update Client in Maxed API": {
      "main": [
        [
          {
            "node": "Loop Over Clients",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "1",
  "meta": {
    "instanceId": "maxed-oss"
  },
  "tags": []
}
