platform/n8n-workflows/document-auto-tag.json
{
  "name": "Document Auto-Tag",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "document-processed",
        "responseMode": "lastNode",
        "options": {}
      },
      "id": "b2c3d4e5-2222-4000-b000-000000000001",
      "name": "Webhook",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 1.1,
      "position": [240, 300],
      "webhookId": "document-processed-webhook"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": false,
            "leftValue": "",
            "typeValidation": "strict"
          },
          "conditions": [
            {
              "id": "condition-w2-1099",
              "leftValue": "={{ $json.body.ocrText }}",
              "rightValue": "W-2|1099|Form W-2|Form 1099",
              "operator": {
                "type": "string",
                "operation": "regex"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "b2c3d4e5-2222-4000-b000-000000000002",
      "name": "Is Tax Form?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [500, 300]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": false,
            "leftValue": "",
            "typeValidation": "strict"
          },
          "conditions": [
            {
              "id": "condition-invoice",
              "leftValue": "={{ $json.body.ocrText }}",
              "rightValue": "invoice|bill to|amount due|payment due",
              "operator": {
                "type": "string",
                "operation": "regex"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "b2c3d4e5-2222-4000-b000-000000000003",
      "name": "Is Invoice?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [760, 460]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": false,
            "leftValue": "",
            "typeValidation": "strict"
          },
          "conditions": [
            {
              "id": "condition-engagement",
              "leftValue": "={{ $json.body.ocrText }}",
              "rightValue": "engagement letter|engagement agreement|scope of services|terms of engagement",
              "operator": {
                "type": "string",
                "operation": "regex"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "b2c3d4e5-2222-4000-b000-000000000004",
      "name": "Is Engagement Letter?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [1020, 620]
    },
    {
      "parameters": {
        "method": "PATCH",
        "url": "=http://localhost:4000/api/documents/{{ $json.body.documentId }}",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "Bearer {{ $env.MAXED_API_TOKEN }}"
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "category",
              "value": "tax_form"
            },
            {
              "name": "autoTagged",
              "value": "true"
            }
          ]
        },
        "options": {}
      },
      "id": "b2c3d4e5-2222-4000-b000-000000000005",
      "name": "Tag as Tax Form",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [760, 140]
    },
    {
      "parameters": {
        "method": "PATCH",
        "url": "=http://localhost:4000/api/documents/{{ $json.body.documentId }}",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "Bearer {{ $env.MAXED_API_TOKEN }}"
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "category",
              "value": "invoice"
            },
            {
              "name": "autoTagged",
              "value": "true"
            }
          ]
        },
        "options": {}
      },
      "id": "b2c3d4e5-2222-4000-b000-000000000006",
      "name": "Tag as Invoice",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [1020, 300]
    },
    {
      "parameters": {
        "method": "PATCH",
        "url": "=http://localhost:4000/api/documents/{{ $json.body.documentId }}",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "Bearer {{ $env.MAXED_API_TOKEN }}"
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "category",
              "value": "engagement_letter"
            },
            {
              "name": "autoTagged",
              "value": "true"
            }
          ]
        },
        "options": {}
      },
      "id": "b2c3d4e5-2222-4000-b000-000000000007",
      "name": "Tag as Engagement Letter",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [1280, 460]
    },
    {
      "parameters": {
        "method": "PATCH",
        "url": "=http://localhost:4000/api/documents/{{ $json.body.documentId }}",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "Bearer {{ $env.MAXED_API_TOKEN }}"
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "category",
              "value": "general"
            },
            {
              "name": "autoTagged",
              "value": "true"
            }
          ]
        },
        "options": {}
      },
      "id": "b2c3d4e5-2222-4000-b000-000000000008",
      "name": "Tag as General",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [1280, 780]
    }
  ],
  "connections": {
    "Webhook": {
      "main": [
        [
          {
            "node": "Is Tax Form?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Is Tax Form?": {
      "main": [
        [
          {
            "node": "Tag as Tax Form",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Is Invoice?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Is Invoice?": {
      "main": [
        [
          {
            "node": "Tag as Invoice",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Is Engagement Letter?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Is Engagement Letter?": {
      "main": [
        [
          {
            "node": "Tag as Engagement Letter",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Tag as General",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "1",
  "meta": {
    "instanceId": "maxed-oss"
  },
  "tags": []
}
